/* Exibe imagem de fundo do footer */
footer 
{
background-image: url("../Imagens/Footer.jpg");  
background-repeat: repeat;
background-position: center;

}
/* Tamanho logo facebook */
#facebook {
  width:38px;
}