.mapa_footer 
{
  padding-top: 5%;
  margin-bottom:  3%;
}


#margem_footer 
{
  color:black;
}

/* Exibe imagem de fundo do footer */
footer 
{
background-image: url("../Imagens/Footer.jpg");  
background-repeat: repeat;
background-position: center;

}
/* Tamanho logo facebook */
#facebook {
  width:38px;
}